/* structure */

* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

div, #page, footer {
	width: 100%;
}

#sidebar {
	max-width: 350px;
}

#sidebar iframe {
    height: 100vh; /* Full viewport height */
	position: fixed;
}

 #page, footer {
	display: flex;
	flex-direction: row;
    align-items: flex-start; 
	justify-content: flex-start;
	flex-wrap: wrap;
}

#content {
	margin-left: 20px;
	max-width: 850px;
}

section {
	padding-left: 20px;
	font-size: 11pt;
}

footer {
	width: 100%;
	font-size: 10pt !important;
	padding: 20px 0px;
	text-align: center;
	margin-top: 60px; 
}

/* text */

body, p { font-size: 12pt; }

h1.title, h1.title a { text-decoration: none; }

h2.subtitle { font-size: 10pt; }

h2 {
	font-size: 16pt;
	line-height: 1.75em;
}

h3 {
	font-size: 14pt;
	line-height: 1.5em;	}
	
h4, h5, h6 { font-size: 12pt; }

blockquote { font-style: italic; }

pre, code { font-family: monospace; }


a:visited { color: #0000ff; }
a:hover { color: #000; }



.top, .top a  {
	margin-top: 40px;
	text-align: right;
}

/* Mobile Styles (screen width 768px and below) */
@media (max-width: 750px) {{
    #sidebar {
        display: none; !important;
    }
}